
.cart{
    /* border: 2px solid red; */
    margin-top: 5rem;
}

.cart-container{
    /* font-size: 3rem; */
    font-weight: 600;
    width: 100%;
}
.cart-container > p{
    margin: 1.5rem 0;
    text-align: center;
    font-size: 1rem;
}
.cart-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid green; */
}