@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
a{
    all: unset;
}
body{
    background-color: #F5F5F5;
}
.body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.5rem;
}

.li-item{
    color:white;
    cursor: pointer;
    font-size: 1rem;
    list-style: none;
    margin-top: 1rem;
}
.li-item:hover{
    color:#F99417;
    text-decoration: underline;
    transition: 0.6s;
}

.card-component{
    /* border:1px solid red; */
    margin: 50px 15px 10px 15px;
    font-family: 'Montserrat', sans-serif;
}
.card{
    /* padding: 20px; */
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    cursor: pointer;
    height: 360px;
    /* border:3px solid blue; */
}
.card > img{
    width:100%;
}

.card-items{
    display: flex;
    flex-direction: column;
    height: 360px;
    /* border:1px solid red; */
    margin-top:5px;
    justify-content: space-evenly;
    padding: 10px;

}
#cuisines{
    font-size: 0.8rem;
}

.card-rating{
    display: flex;
    justify-content: space-between;
    width: 230px;
}

.search-component{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    padding: 50px 0px 0px 0px;
    align-items: center;
}
.search-input{
    font-size: 1.4rem;
    padding: 5px;
    border-radius: 3px;
}
.search-btn{
    font-size: 1.4rem;
    margin-left: 40px;
    padding: 5px;
    background-color: #F99417;
    color: #000;
    border: none;
    width:100px;
    border-radius: 3px;
    cursor: pointer;
    /* transition: 0.3s all ease-in-out; */
}

.search-btn:hover {
    background-color: hsl(33, 93%, 61%);
}

.logger{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.log-btn{
    font-size: 1rem;
    padding: 5px 25px 5px 25px;
    font-family: 'Montserrat', sans-serif;
    /* margin-top: 16px; */
    background-color: #F99417;
    color: #000;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
.restraunt-menu{
    font-family: 'Montserrat', sans-serif;
}
.menu-header{
    background-color: #171A29;
    color: white;
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    height: 245px;
    /* justify-content: space-evenly; */
    align-items: center;
}
.menu-header-img{
    width: 254px;
    height: 165px;
    margin-left: 10rem;
}
.menu-header-img > img {
    width: 100%;
}

.header-info{
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid white; */
    height: 200px;
    width: 500px;
    padding: 1rem;
}
.sub-menu-item{
    font-size: 0.9rem;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.menu-item-con{
    display: flex;
    flex-direction: row;
    padding: 5px;
    border:1px solid #d5d5d5;
    width: 650px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}
.menu-item-con-img{
    width: 30%;
    /* border: 10px solid green; */
    display: inline;
}
.menu-item-con-img > img{
    width: 100%;
}
.menu-item-con-data{
    width: 500px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid pink; */
}
.menu-span{
    font-size: 3rem;
    font-weight: 500;
}
.shimmer-menu{
    align-items: center;
}
.header{
    width:100%;
    background-color:black;
    text-align:center;
    padding:"1rem";
    font-family: 'Montserrat', sans-serif;
}
@media(min-width:700px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    .nav-items{
        display: flex;
        align-items: center;
    }
    .nav-items > li{
        margin-right: 1rem;
    }
}