

.location-selector {
    width: 95%;
    margin-top: 1rem;
    /* padding: 0 0.1em; */
    /* max-width: 300px; */
    /* border: 1px solid red; */
    /* z-index: -1; */
    /* display: none; */
    z-index: 1;
}
@media (min-width: 425px) {
    .location-selector{
        max-width: 400px;
    }
}
@media (min-width: 525px) {
    .location-selector {
      margin-top: 10px;
      padding-bottom: 23px;
    }

    .location-selector {
      width: 50%;
      margin-right: 1.5rem;
    }
  }



