
.cont-heading{
    text-align: center;
    font-size: 3rem;
}

.contact-page{
    background: rgb(255,192,0);
    height: 100vh;
    /* margin:  2rem 10rem 2rem 10rem; */
    /* border-radius: 15px; */
}