.cart-item {
  display: flex;
  color: black;
  width: 90%;
  border: 1px solid grey;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 0.5rem 0.2rem;
}

.cart-item-sec-1 {
  width: 60%;
}
.cart-item-sec-1 > p{
  margin-bottom: 0.5rem;
}

.cart-item-sec-2 {
  width: 40%;
}

.cart-item-sec-2 > img {
  width: 100%;
  object-fit: contain;
}
.cart-item-btn{
   color: white;
    padding: 5px 12px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: #f99417;
    border: 1px solid black;
    transition: 0.3s;
    margin:0 0.3rem;
}

@media (min-width: 200px) {
  .cart-item-sec-1 {
    font-size: 0.6rem;
    padding: 0.5rem 0.2rem;
  }

  .cart-item-sec-2 {
    width: 40%;
    padding: 0.5rem;
  }
}
@media (min-width: 320px) {
  .cart-item-sec-1 {
    font-size: 0.8rem;
    padding: 0.5rem 0.2rem;
  }

  .cart-item-sec-2 {
    width: 40%;
  }

  .cart-item-sec-2 > img {
    width: 100%;
    object-fit: contain;
  }
}
@media (min-width: 520px) {
  .cart-item {
    max-width: 500px;
    width: 500px;
  }

  .cart-item-sec-1 {
    font-size: 1.2rem;
    padding: 0.5rem 0.2rem;
  }

  .cart-item-sec-2 {
    width: 30%;
  }

  .cart-item-sec-2 > img {
    width: 100%;
    object-fit: contain;
  }
}
@media (min-width: 768px) {

  .cart-item-sec-1 {
    /* font-size: 1.5rem; */
    padding: 0.5rem 0.2rem;
  }

  .cart-item-sec-2 {
    width: 20%;
    max-width: 200px;
  }

  .cart-item-sec-2 > img {
    width: 100%;
    object-fit: contain;
  }
}

/* @media (min-width: 900px) {
  .cart-item-sec-1 {
    font-size: 1.5rem;
    padding: 0.5rem 0.2rem;
  }

  .cart-item-sec-2 > img {
    width: 100%;
    object-fit: contain;
  }
} */
