.restraunt-menu {
  font-family: "Montserrat", sans-serif;
}
.menu-header {
  background-color: #171a29;
  color: white;
  display: flex;
  width: 100%;
  padding: 1rem;
  position: fixed;
  top: 80;
  z-index: 10;
}
.menu-header-img {
  width: 80%;
  padding: 0.5em;
  max-width: 300px;
  min-width: 230px;
}
.menu-header-img > img {
  width: 100%;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  padding: 0rem 0.5em;
}
.menu-footer > span {
  font-size: 1.1rem;
}
.sub-menu-item {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  margin-top: 8.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  overflow-y: scroll;
  border: 1px solid forestgreen;
}
.menu-heading {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
}


.menu-item-con {
  display: flex;
  flex-direction: row;
  padding: 1rem 0.5rem;
  border: 1px solid #d5d5d5;
  max-width: 650px;
  height: 175px;
  margin: 20px 0px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rebeccapurple;
}

.menu-item-con-img {
  width: 30%;
}
.menu-item-con-img > img {
    object-fit: contain;
    width: 100%;
}

.add-item-btn{
  background-color: white;
  border-radius: 6px;
  border:1px solid  green;
  padding: 6px 25px;
  position: relative;
  bottom: 18;
  left: 55;
  font-size: 1rem;
}
.add-item-btn:hover{
  cursor: pointer;
}
.menu-item-con-data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 68%;
}

.menu-item-con-data p{
    margin-bottom: 0.5em;
}   
.menu-span {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 12rem;
}
.shimmer-menu {
  align-items: center;
}
.menu-item{
    font-size: 1.2rem;
    font-weight: 600;
}
.header-info{
  margin-left: -3rem;
}
.menu-head{
  display: flex;
  
}
.restraunt-not-found{
  margin-top: 3rem;
  text-align: center;
}
@media (min-width: 200px) {
  .menu-header {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
  }
  
  .menu-header-img {
    width: 100%;
    min-width: 140px;
  }
  .menu-header-img > img {
    width: 50%;
  }
  .menu-head-content {
    padding: 0.5em;
  }
  .res-menu-itm {
    font-size: 0.6rem;
    margin-bottom: 0.1em;
  }
  .res-name {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .menu-item-con-data:last-child{
    font-size: 5rem;
  }
  .menu-item{
    font-size: 0.7rem;
  }
  .menu-footer > span{
    font-size: 0.8rem;
  }
  .menu-header-img{
    width: 10%;
  }
  .menu-header-img > img{
    width: 70%;
  }
  .menu-sub-2{
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .menu-span{
    margin-top: 10rem;
    font-size: 3rem;
  }
}

@media (min-width: 318px) {
    .menu-item{
        font-size: 1rem;
    }
    .res-name{
      font-size: 1rem;
    }
    .menu-header-img{
      width: 10%;
    }
    .menu-header-img > img{
      width: 100%;
    }
    .header-info{
      margin-left: 0.5rem;
    }
    .menu-span{
      margin-top: 6rem;
      font-size: 3.5rem;
    }

}
@media (min-width: 378px) {
  .menu-heading{
    top: 215;
  }
  .menu-sub{
      margin-top: 0rem;
  }
  .menu-span{
    margin-top: 6rem;
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .menu-header{
      flex-direction: column;
  }
  .res-menu-itm{
    font-size: 1rem;
  }
  .res-name{
    font-size: 1.9rem;
  }
  .menu-footer > span{
    font-size: 1.1rem;
  }
  .menu-header-img{
    width: 40%;
  }
  .menu-header-img > img{
    width: 100%;
  }
  .menu-sub{
    margin-top: 0.2rem;
  }
  .menu-span{
    margin-top: 9rem;
    font-size: 3.5rem;
  }
.restraunt-not-found{
  margin-top: 3rem;
  text-align: center;
  font-size: 2.2rem;
}

}

@media (min-width: 837px) {
  .menu-sub{
    margin-top: 0.2rem;
  }
  .menu-span{
    margin-top: 11rem;
    font-size: 3.5rem;
  }
}
@media (min-width: 926px) {

  .res-menu-itm{
    font-size: 1rem;
  }
  .res-name{
    font-size: 2.3rem;
  }
  .menu-footer > span{
    font-size: 1.1rem;
  }
  .menu-sub{
    margin-top: 0.2rem;
  }
  .menu-span{
    margin-top: 11rem;
    font-size: 3.5rem;
  }
}

@media (min-width: 1000px) {
  .menu-sub{
    margin-top: 0.5rem;
  }
  .menu-span{
    margin-top: 12.5rem;
    font-size: 3.5rem;
  }
}